header {
    background-color: #00ad85;
}
header > div {
    min-width: 500px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between
}
header > div > label {
    font-size: 32px;
    font-weight: 500;
    color: #eee;
}
nav {
    display: flex;
    align-items: center;
}
nav > a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #eee;
    margin: 0 10px;
    font-size: 16px;
}
nav > a > span {
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    display: inline-block;
    height: 2px;
    margin: 0 auto;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
nav > a:hover span {
    background-color: white;
    transform: scaleX(1);
}